table(border=1)
    thead   
        tr 
            th FullNAmes 
            th NumberPhone
    tbody 
        tr 
            td Tanjiro Kamado 
            td 001-455789
        tr 
            td Nezuko kamado 
            td 002-457898
        tr 
            td Kokuchibo 
            td 033-452712
            